extends ../layout/main

block variables
	- var title = '';
	- var description = '';
	- var pageClass = '';

block content
  header
    .container
      .header-block
        .header-block__logo
          img(src='img/logo.svg', alt='#')
          a(href='#')
            img(src='img/search.svg', alt='#')
        .header-block__menu
          a.header-block__burger(href='#')
            img(src='img/burger-menu.svg', alt='#')
          a.header-block__cabinet(href='#')
            img(src='img/cabinet.svg', alt='#')
          a.header-block__cart(href='#')
            img(src='img/cart.svg', alt='#')
            .header-block__cart-count 5
  .shopping-cart
    .container
      .block-shopping-cart
        span.block-shopping-cart__title SHOPPING CART
  .container
    .cart-wrapper
      .cart-item
        .card-block
          .card-block__img
            img(src='img/catalog/catalog-card-3.jpg', alt='#')
          .card-block__descr
            .card-block__title--wrap
              .card-block__title MANGO PEOPLE T‑SHIRT
              .card-block__close-btn
                a(href='#')
                  img(src='img/close-btn.svg', alt='#')
            .card-block__detail
              .card-block__detail--price
                | Price:
                span  $300
              .card-block__detail--color Color: Red
              .card-block__detail--size Size: Xl
              .card-block__detail--quantity
                | Quantity:
                span 2
        .card-block
          .card-block__img
            img(src='img/catalog/catalog-card-2.jpg', alt='#')
          .card-block__descr
            .card-block__title--wrap
              .card-block__title MANGO PEOPLE T‑SHIRT
              .card-block__close-btn
                a(href='#')
                  img(src='img/close-btn.svg', alt='#')
            .card-block__detail
              .card-block__detail--price
                | Price:
                span  $300
              .card-block__detail--color Color: Red
              .card-block__detail--size Size: Xl
              .card-block__detail--quantity
                | Quantity:
                span 2
        .button-wrapper
          a.btn-clear(href='#') CLEAR SHOPPING CART
          a.btn-continue(href='#') CONTINUE SHOPPING
      .ship-adress-wrapper
        .ship-address
          .ship-address__title SHIPPING ADRESS
          form
            input(type='text', placeholder='Bangladesh')
            input(type='text', placeholder='State')
            input(type='text', placeholder='Postcode / Zip')
            button.ship-address__btn(type='submit') GET A QUOTE
        .ship-checkout
          .ship-checkout__subtotal
            | SUB TOTAL
            span $900
          .ship-checkout__grandtotal
            | SUB TOTAL
            span $900
          .ship-checkout__line
          button.ship-checkout__btn PROCEED TO CHECKOUT
  .footer-block
    .container.footer-block-wrapper
      .footer-info
        .footer-info__img
          img(src='img/intersect.png', alt='intersect')
        .footer-info__title
          p
            | “Vestibulum quis porttitor dui! Quisque viverra nunc mi,
            i  a pulvinar purus condimentum“
      .footer-subscr
        p.footer-subscr__title SUBSCRIBE
        p.footer-subscr__subtitle FOR OUR NEWLETTER AND PROMOTION
        .footer-subscr__input
          input(placeholder='Enter You Email')
          button Subscribe
  .footer-block-social
    .container.footer-soc-wrapper
      .footer__copy © 2021 Brand All Rights Reserved.
      .footer__social
        a(href='#')
          img(src='img/fb.svg', alt='fb')
        a(href='#')
          img(src='img/inst.svg', alt='inst')
        a(href='#')
          img(src='img/pint.svg', alt='pint')
        a(href='#')
          img(src='img/tw.svg', alt='tw')