// Fonts here
// Example with Circe
/*@font-face {
  font-family: "Circe";
  src: url('../../assets/fonts/Circe-Regular.eot'); !* IE9 Compat Modes *!
  src: url('../../assets/fonts/Circe-Regular.eot?#iefix') format('embedded-opentype'), !* IE6-IE8 *!
  url('../../assets/fonts/Circe-Regular.woff') format('woff'), !* Pretty Modern Browsers *!
  url('../../assets/fonts/Circe-Regular.ttf') format('truetype'), !* Safari, Android, iOS *!
}*/

